@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Montserrat:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  background: url("../assets/images/bg.jpg") 55%;
  background-size: cover;
}

.background {
  height: 100%;
  background: url("../assets/images/bg.jpg") bottom 15% right 0;
  background-size: cover;
  filter: blur(1px);
}

.container {
  position: absolute;
  top: 0;
  width: 100%;
}

.title {
  margin-top: 20vh;
  font-family: "Lobster Two", cursive;
  font-weight: 400;
  font-size: 104px;
  color: #ecefef;
  text-shadow:
      0 0 8px #ecefef,
      0 0 10px #ecefef,
      0 0 21px #ecefef,
      0 0 42px #2b71ab,
      0 0 82px #2b71ab,
      0 0 92px #2b71ab,
      0 0 102px #2b71ab,
      0 0 132px #2b71ab,
      0 0 151px #2b71ab;
  text-align: center;
}

.countdown {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 0 auto;
  border-radius: 10px;
  background: #bb2528;
  color: #ecefef;
  box-shadow: 0 0 10px 15px rgba(187, 37, 40, 1);
}

.countdown__part {
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.countdown__number {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 100px;
  width: 110px;
  padding: 20px 10px;
  border-radius: 5px;
  font-size: 64px;
  box-shadow: 0 0 10px 5px rgb(121, 23, 23) inset;
  overflow: hidden;
}

.digit {
  width: 45px;
}

.translated .digit_cur,
.translated .digit_prev {
  transform: translateY(0px);
  transition: transform .7s ease-out;
}

.digit_cur, .digit_prev {
  padding-bottom: 20px;
  line-height: .9;
  transform: translateY(-80px);
}

.countdown__measure {
  font-size: 20px;
  font-weight: 200;
  text-transform: uppercase;
}